<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>
    <div
        class="relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-gray-800 p-16 dark:border-l md:flex lg:px-28" style="background-color: #1A1A1A;"
    >
        <!-- Background -->
        <!-- Rings -->
        <!-- prettier-ignore -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="opacity-25" fill="none" stroke="#FF6000" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <!-- prettier-ignore -->
        <svg class="absolute -top-16 -right-16"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="#FF6000" opacity="0.2"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- Content -->
        <div class="relative z-10 w-full max-w-2xl">
            <div class="text-5xl font-bold leading-none text-gray-100">
                <div>Topluluğumuza <span style="color: #FF6000">Hoş</span></div>
                <div><span style="color: #FF6000">Geldiniz</span></div>
            </div>
            <div class="mt-6 text-md leading-6 tracking-tight text-gray-300">
                POS ile Güçlen, İşini Şimdi Dijitale Taşı! Hızlı, güvenli ve sorunsuz ödeme çözümleriyle işinizi
                büyütün. Müşteri memnuniyetini artırın, satışları hızlandırın ve rekabette öne çıkın.
            </div>
            <div class="mt-8 flex items-center">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <div class="flex h-10 w-10 flex-0 items-center justify-center rounded-full text-white font-bold ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800 font-mono text-lg" style="background-color: #FF6000;">T</div>
                    <div class="flex h-10 w-10 flex-0 items-center justify-center rounded-full text-white font-bold ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800 font-mono text-lg" style="background-color: #FF6000;">A</div>
                    <div class="flex h-10 w-10 flex-0 items-center justify-center rounded-full text-white font-bold ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800 font-mono text-lg" style="background-color: #FF6000;">B</div>
                    <div class="flex h-10 w-10 flex-0 items-center justify-center rounded-full text-white font-bold ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800 font-mono text-lg" style="background-color: #FF6000;">U</div>
                    <div class="flex h-10 w-10 flex-0 items-center justify-center rounded-full text-white font-bold ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800 font-mono text-lg" style="background-color: #FF6000;">L</div>
                </div>
                <div class="ml-4 text-sm font-medium tracking-tight text-gray-300">
                    100'den fazla kişi bize katıldı, şimdi sıra sizde
                </div>
            </div>
        </div>
    </div>
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 bg-white sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-center md:rounded-none md:p-16 md:shadow-none"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-40">
                <img src="images/logo/logo.png" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-xl font-extrabold leading-tight tracking-tight"
            >
                Tabul'a Hoşgeldiniz
            </div>
            <div class="mt-0.5 text-gray-500">
                Hemen kaydolun, 15 Gün boyunca ücretsiz deneyin!
            </div>

            <!-- Alert -->
            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm">
                <!-- Company field -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>İşletme Adı</mat-label>
                    <input
                        id="company"
                        matInput
                        [formControlName]="'company'"
                    />
                    @if (signUpForm.get('company').touched && signUpForm.get('company').hasError('required')) {
                        <mat-error>İşletme adı gerekli</mat-error>
                    }
                </mat-form-field>

                <!-- Name field -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>İsim Soyisim</mat-label>
                    <input id="name" matInput [formControlName]="'name'" />
                    @if (signUpForm.get('name').touched && signUpForm.get('name').hasError('required')) {
                        <mat-error>İsim Soyisim gerekli</mat-error>
                    }
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Güncel Mail Adresiniz</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    @if (signUpForm.get('email').touched && signUpForm.get('email').hasError('required')) {
                        <mat-error>E-posta adresi gerekli</mat-error>
                    }
                    @if (signUpForm.get('email').touched && signUpForm.get('email').hasError('email')) {
                        <mat-error>
                            Lütfen geçerli bir e-posta adresi girin
                        </mat-error>
                    }
                </mat-form-field>

                <!-- Phone field -->
                <div class="flex gap-2">
                    <div class="w-3/12" >
                        <mat-form-field class="w-full"  appearance="outline">
                            <mat-select [value]="'+90'" disabled>
                                <mat-option value="+90">+90</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-9/12">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Cep Telefonu</mat-label>
                            <input id="phone" matInput [formControlName]="'phone'" />
                            @if (signUpForm.get('phone').touched && signUpForm.get('phone').hasError('required')) {
                                <mat-error>Cep telefonu gerekli</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>

                <!-- Password field -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Şifre</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        @if (passwordField.type === 'password') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                        }
                        @if (passwordField.type === 'text') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye-slash'"
                            ></mat-icon>
                        }
                    </button>
                    @if (signUpForm.get('password').touched && signUpForm.get('password').hasError('required')) {
                        <mat-error>Şifre gerekli</mat-error>
                    }
                </mat-form-field>

                <!-- Password Confirm field -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Şifre Tekrar</mat-label>
                    <input
                        id="passwordConfirm"
                        matInput
                        type="password"
                        [formControlName]="'passwordConfirm'"
                        #passwordConfirmField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordConfirmField.type === 'password'
                                ? (passwordConfirmField.type = 'text')
                                : (passwordConfirmField.type = 'password')
                        "
                        matSuffix
                    >
                        @if (passwordConfirmField.type === 'password') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                        }
                        @if (passwordConfirmField.type === 'text') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye-slash'"
                            ></mat-icon>
                        }
                    </button>
                    @if (signUpForm.get('passwordConfirm').touched && signUpForm.get('passwordConfirm').hasError('required')) {
                        <mat-error>Şifre tekrarı gerekli</mat-error>
                    }
                </mat-form-field>

                <!-- ToS and PP -->
                <div class="mt-1.5 flex items-start">
                    <mat-checkbox
                        [color]="'warn'"
                        [formControlName]="'agreements'"
                        style="--mdc-checkbox-selected-checkmark-color: #FF6000; --mdc-checkbox-selected-focus-state-layer-color: #FF6000; --mdc-checkbox-selected-hover-state-layer-color: #FF6000; --mdc-checkbox-selected-icon-color: #FF6000; --mdc-checkbox-selected-pressed-state-layer-color: #FF6000;"
                    >
                    </mat-checkbox>
                    <div class="ml-2 text-sm">
                        <span>Kullanım Sözleşmesini ve Aydınlatma Metnini</span>
                        <br>
                        <span>okudum kabul ediyorum.</span>
                    </div>
                </div>
                @if (signUpForm.get('agreements').touched && signUpForm.get('agreements').hasError('required')) {
                    <div class="mt-1 text-red-500 text-xs ml-8">Kullanım sözleşmesini kabul etmelisiniz</div>
                }

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-6 w-full"
                    mat-flat-button
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()"
                    style="background-color: #FF6000;"
                >
                    @if (!signUpForm.disabled) {
                        <span class="text-white"> Kayıt Ol </span>
                    }
                    @if (signUpForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    }
                </button>
                
                <div class="mt-4 text-center">
                    <span class="text-gray-600">Üye Misiniz? </span>
                    <a
                        class="hover:underline font-medium"
                        style="color: #FF6000;"
                        [routerLink]="['/sign-in']"
                        >Giriş Yap
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
