<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent">
        <!-- Drawer -->

        <mat-drawer class="bg-default w-2/3 border-r-0 sm:w-72 lg:w-56" [mode]="drawerMode" [opened]="drawerOpened"
            #drawer>
            <div class="p-6 lg:py-8 lg:pl-4 lg:pr-0">

                <!-- Filters -->

                <div class="space-y-2">
                    <!-- Edit Labels -->
                    <div class=" flex cursor-pointer items-center rounded-full px-4 py-2 font-medium hover:bg-hover bg-white"
                        [ngClass]="{
                        'bg-gray-200 text-primary dark:bg-gray-700 dark:text-primary-400':
                            filterStatus === 'urunler',
                        'text-hint hover:bg-hover':
                            filterStatus !== 'urunler',
                    }" (click)="openEditLabelsDialog()" matRipple>
                        <mat-icon class="text-hint" svgIcon="heroicons_outline:plus"></mat-icon>
                        <div class="ml-3 select-none leading-5 text-default">
                            Kategori Ekle
                        </div>
                    </div>


                    <!-- Labels -->
                    @if (kategoriler$ | async; as kategoriler) {
                    @for (kategori of kategoriler; track trackByFn($index, kategori)) {
                    <div class="relative flex cursor-pointer items-center rounded-full px-4 py-2 font-medium" [ngClass]="{
                                    'bg-gray-200 text-primary dark:bg-gray-700 dark:text-primary-400':
                                        'label:' + kategori.id === filterStatus,
                                    'text-hint hover:bg-hover':
                                        'label:' + kategori.id !== filterStatus,
                                }" (click)="filterByLabel(kategori.id)" matRipple [matRippleDisabled]="
                                    'label:' + kategori.id === filterStatus
                                ">
                        <mat-icon class="text-current" [svgIcon]="'heroicons_outline:clipboard'"></mat-icon>
                        <div class="text-default ml-3 select-none leading-5">
                            {{ kategori.baslik }}
                        </div>
                    </div>
                    }
                    }
                    <!-- Archive -->
                    <div class="relative flex cursor-pointer items-center rounded-full px-4 py-2 font-medium" [ngClass]="{
                        'bg-gray-200 text-primary dark:bg-gray-700 dark:text-primary-400':
                            filterStatus === 'aktif',
                        'text-hint hover:bg-hover':
                            filterStatus !== 'aktif',
                    }" (click)="filterByArchived()" matRipple [matRippleDisabled]="filterStatus === 'aktif'">
                        <mat-icon class="text-current" [svgIcon]="'heroicons_outline:archive-box'"></mat-icon>

                        <div class="text-default ml-3 select-none leading-5">
                            İptaller
                        </div>
                    </div>
                    <div class="relative flex cursor-pointer items-center rounded-full px-4 py-2 font-medium"
                        (click)="resetFilter()" matRipple [matRippleDisabled]="filterStatus === 'urunler'">
                        <mat-icon class="text-hint" svgIcon="heroicons_outline:squares-2x2"></mat-icon>
                        <div class="text-default ml-3 select-none leading-5">
                            Tüm Kategoriler
                        </div>
                    </div>

                </div>
            </div>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">
            <!-- Main -->
            <div class="flex flex-auto flex-col p-6 md:p-8">
                <!-- Header -->
                <div class="flex items-center">
                    <div class="flex flex-auto items-center">
                        <button class="-ml-2 flex lg:hidden" mat-icon-button (click)="drawer.toggle()">
                            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                        </button>
                        <mat-form-field class="fuse-mat-rounded fuse-mat-dense ml-4 flex-auto lg:ml-0"
                            [subscriptSizing]="'dynamic'">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"
                                matPrefix></mat-icon>
                            <input matInput [autocomplete]="'off'" [placeholder]="'Ürün Arama...'"
                                (input)="filterByQuery(searchInput.value)" #searchInput />
                        </mat-form-field>
                    </div>
                    <!-- New note -->
                    <button class="ml-4 min-w-10 px-1 sm:px-4 no-radius" mat-flat-button [color]="'danger'">
                        <mat-icon class="text-current " svgIcon="mat_outline:library_books"></mat-icon>

                        <span class="ml-2 hidden sm:inline-block">Birimler</span>
                    </button>
                    <!-- New note -->
                    <button class="ml-4 min-w-10 px-1 sm:px-4" mat-flat-button [color]="'danger'">
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:dvr'"></mat-icon>
                        <span class="ml-2 hidden sm:inline-block">Mutfak Grupları</span>
                    </button>
                    <!-- New note -->
                    <button class="ml-4 min-w-10 px-1 sm:px-4" mat-flat-button color="'bg-accent'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 hidden sm:inline-block">Yeni Ürün Ekle</span>
                    </button>

                </div>
                @if (urunler$ | async; as urunler) {
                @if (urunler.length) {
                <!-- Masonry layout -->
                <fuse-masonry class="-mx-2 mt-8" [items]="urunler" [columns]="masonryColumns"
                    [columnsTemplate]="columnsTemplate">
                    <!-- Columns template -->
                    <ng-template #columnsTemplate let-columns>
                        <!-- Columns -->
                        <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-2 ">
                            @for (urun of urunler; track trackByFn($index, urun)) {
                            <!-- Card -->
                            <div class="bg-card flex flex-col rounded-lg shadow-sm overflow-hidden w-full">
                                <!-- Buttons -->
                                <div class="flex justify-around px-8 py-2 border-t  dark:bg-gray-800">
                                    <button mat-icon-button color="primary" (click)="onEdit(urunler)">
                                        <mat-icon [svgIcon]="'mat_outline:color_lens'"></mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="onView(urunler)">
                                        <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="onDelete(urunler)">
                                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                   
                                </div>

                                <!-- Product Name -->
                                <div
                                    class="p-4 text-center font-semibold text-md text-gray-800 dark:text-gray-200 h-auto grow ">
                                    {{ urun.urunAdi || 'Ürün İsmi' }}
                                </div>
                                <!-- Category Name -->
                                <div
                                    class="p-2 text-center font-medium text-xs text-gray-600 dark:text-gray-400 dark:bg-gray-800  ">
                                    {{ urun?.kategori.baslik || 'Kategori İsmi' }}
                                </div>
                                <!-- Category Name -->
                                <div
                                    class="p-2 text-left font-medium text-md text-gray-600 dark:text-gray-400 bg-primary-50 dark:bg-gray-800  ">
                                    {{ urun?.fiyat || 0 | currency:'TRY':'symbol-narrow' }}
                                </div>



                            </div>
                            }
                        </div>
                    </ng-template>
                </fuse-masonry>
                } @else {
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:document'"></mat-icon>
                    <div class="text-secondary mt-4 text-2xl font-semibold tracking-tight">
                        Ürün Bulunamadı..
                    </div>
                </div>
                }
                } @else {
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <div class="text-secondary mt-4 text-2xl font-semibold tracking-tight">
                        Yükleniyor...
                    </div>
                </div>
                }

                <!-- Loading template -->
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>