<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-3 sm:p-3 ">
        <div class="flex min-w-0 flex-auto flex-col ">
            <!-- Main -->
            <div class="flex-auto  sm:p-8 bg-white dark:bg-gray-800 shadow-md rounded-sm">
                <div class="flex items-center">
                    <div
                        class="min-w-10 sm:px-4  sm:py-4 bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 rounded-sm ">
                        <mat-icon svgIcon="mat_solid:people_outline" class="w-12 h-12 text-white"></mat-icon>
                    </div>

                    <div class="pb-2 min-w-10 px-1 sm:px-4 ">
                        <div class="text-2xl font-semibold leading-none tracking-tight"> Kullanıcılar </div>
                        <div class="text-sm text-secondary ml-0.5 font-medium"> Kullanıcı Sayısı : 1 </div>
                    </div>
                                 
                    <!-- New note -->
                    <button class="ml-auto min-w-10 px-1 sm:px-4 text-white " mat-flat-button color="warn">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 hidden sm:inline-block">Ekle</span>
                    </button>

                </div>

                <div class="flex-auto mt-4 h-full">
                    <div class="flex-auto mt-4 h-full">
                        @if ( users$ | async; as users) {
                        @if (users.length>0)
                        {
                        <table mat-table [dataSource]="users" class="w-full" matSort>
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Ad Soyad </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname |uppercase}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="phoneNumber">
                                <th mat-header-cell *matHeaderCellDef> Telefon </th>
                                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                            </ng-container>
                            <ng-container matColumnDef="rolles">
                                <th mat-header-cell *matHeaderCellDef> Görev </th>
                                <td mat-cell *matCellDef="let element"> {{element.roles[0].role.friendlyName}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                class="hover:bg-gray-100 !important cursor-pointer !important"
                                (click)="onRowClicked(row)"></tr>
                        </table>


                        }
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>