<div class="app-container dark:bg-gray-900" [class.dark]="isDarkMode">
    <!-- Sidebar - only for desktop -->
    <div class="sidebar" [class.collapsed]="sidebarCollapsed">
        <nav class="sidebar-nav-container">
            <a href="#" class="sidebar-nav-item" [class.active]="activeItem === 'bolgeler'" (click)="setActive('bolgeler')">
                <mat-icon class="text-yellow-500">grid_view</mat-icon>
                <span class="text-gray-700" [class.hidden]="sidebarCollapsed">Bölgeler</span>
            </a>
            <a [routerLink]="['/orders']" class="sidebar-nav-item" [class.active]="activeItem === 'siparisler'" (click)="setActive('siparisler')">
                <mat-icon class="text-gray-600">menu_book</mat-icon>
                <span class="text-gray-700" [class.hidden]="sidebarCollapsed">Siparişler</span>
            </a>
            <a href="#" class="sidebar-nav-item" [class.active]="activeItem === 'paketler'" (click)="setActive('paketler')">
                <mat-icon class="text-gray-600">visibility</mat-icon>
                <span class="text-gray-700" [class.hidden]="sidebarCollapsed">Paketler</span>
            </a>
            <a href="#" class="sidebar-nav-item" [class.active]="activeItem === 'hazirla'" (click)="setActive('hazirla')">
                <mat-icon class="text-gray-600">check_circle</mat-icon>
                <span class="text-gray-700" [class.hidden]="sidebarCollapsed">Hazırlar</span>
            </a>
            <div class="flex-grow"></div>
            <a href="#" class="sidebar-nav-item border-t border-gray-200" [class.active]="activeItem === 'gelal'" (click)="setActive('gelal')">
                <mat-icon class="text-gray-600">store</mat-icon>
                <span class="text-gray-700" [class.hidden]="sidebarCollapsed">Gel Al</span>
            </a>
            <a href="#" class="sidebar-nav-item" [class.active]="activeItem === 'paket'" (click)="setActive('paket')">
                <mat-icon class="text-gray-600">directions_bike</mat-icon>
                <span class="text-gray-700" [class.hidden]="sidebarCollapsed">Paket</span>
            </a>
        </nav>
    </div>
    
    <!-- Main Content with White Tabs -->
    <div class="main-content bg-white dark:bg-gray-900">
        <div class="content-container">
            <mat-tab-group [disableRipple]="true" mat-stretch-tabs="false" animationDuration="200ms">
                <mat-tab *ngFor="let area of restaurantData.restaurantAreas">
                    <ng-template mat-tab-label>
                        <div class="flex items-center py-1 px-2">
                            <mat-icon class="text-current mr-2">table_restaurant</mat-icon>
                            <span>{{area.name}}</span>
                        </div>
                    </ng-template>
                    <div class="h-full">
                        <app-restaurant-layout [restaurantArea]="area" [hideTableInfo]="true"></app-restaurant-layout>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>