<div class="flex w-80 min-w-80 flex-auto flex-col p-2 md:p-4">
    <!-- Header -->
    <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold">Kategori Ekle</div>
        <button matDialogClose mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <!-- New label -->
    <mat-form-field class="fuse-mat-dense mt-8 w-full">
        <input
            name="new-label"
            [autocomplete]="'off'"
            [placeholder]="'Yeni Kategori Ekle'"
            matInput
            #newLabelInput
        />
        <button
            [class.invisible]="newLabelInput.value.trim() === ''"
            mat-icon-button
            (click)="addLabel(newLabelInput.value); newLabelInput.value = ''"
            matSuffix
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:check-circle'"
            ></mat-icon>
        </button>
    </mat-form-field>
    <!-- Labels -->
    <div class="mt-4 flex flex-col">
        @if (kategoriler$ | async; as kategoriler) {
            @for (kategori of kategoriler; track trackByFn($index, kategori)) {
                <mat-form-field class="fuse-mat-dense w-full">
                    <button
                        mat-icon-button
                        matPrefix
                        (click)="deleteLabel(kategori.id)"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:trash'"
                        ></mat-icon>
                    </button>
                    <input
                        [autocomplete]="'off'"
                        [(ngModel)]="kategori.baslik"
                        (input)="updateLabel(kategori)"
                        required
                        matInput
                    />
                </mat-form-field>
            }
        }
    </div>
</div>
